@page
@model PortalsBuilder.Web.Pages.Admin.Article.CreateArticleModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                ایجاد مقاله
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">فرم ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">عناصر ساده فرم</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">فرم پیش فرض</h4>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">نام کاربری</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="نام کاربری خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ایمیل</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">رمز عبور</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور خود را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputConfirmPassword1">تکرار رمز عبور</label>
                                <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="رمز عبور خود را مجددا وارد کنید">
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        مرا به خاطر بسپار
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                            <button class="btn btn-light">لغو</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>