@page "{id}"
@model PortalsBuilder.Web.Pages.Admin.Article.EditArticleModel
@{
}
<div class="main-panel">
    <form method="post">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    ایجاد مقاله
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">فرم ها</a></li>
                        <li class="breadcrumb-item active" aria-current="page">عناصر ساده فرم</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">مقاله جدید</h4>

                            <div class="form-group">
                                <label for="exampleInputUsername1">عنوان</label>
                                <input type="text" class="form-control" asp-for="Article.Title" placeholder="عنوان را وارد کنید">
                            </div>
                            <div class="main-panel">
                                <div class="content-wrapper">
                                    <div class="page-header">
                                        <h3 class="page-title">
                                            توضیحات مقاله
                                        </h3>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#">ویرایشگر ها</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">ویرایشگر متن CK Editor</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body pad">

                                                    <textarea id="editor1" name="editor1" rows="10"
                                                              cols="80">این ویرایشگر راست چین و فارسی شده است...</textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- content-wrapper ends -->
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">نویسنده</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="نام نویسنده وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">تصویر مقاله</label>
                                <input type="file" class="form-control" id="exampleInputUsername1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">جزئیات</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="جزئیات را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">متاتگ ها</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="متاتگ ها را وارد کنید">
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleInputUsername2">نمایش داده شود</label>
                                    <input type="checkbox" class="form-control" id="exampleInputUsername2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername3">مشخص شده</label>
                                    <input type="checkbox" class="form-control" id="exampleInputUsername3">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername4">ارسال به عنوان روزنامه</label>
                                    <input type="checkbox" class="form-control" id="exampleInputUsername4">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername5">زبان انگلیسی</label>
                                    <input type="checkbox" class="form-control" id="exampleInputUsername5">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">دسته بندی</label>
                                <select asp-for="Article.ArticleCategoryId" asp-items="@(ViewData["Groups"] as SelectList)">
                                   
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">تعداد بازدید</label>
                                <input type="number" class="form-control" id="exampleInputUsername1" placeholder="تعداد بازدید را وارد کنید">
                            </div>



                            <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                            <button class="btn btn-light">لغو</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>
