@page
@model ShahrKoodak.Web.Pages.Admin.Question.CreateQuestionModel
@{
}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <h2>اطلاعات سوال</h2>
            <hr />
            <div class="form-group">
                <label>سوال</label>
                <input type="text" asp-for="Question.Title" class="form-control">
                <span asp-validation-for="Question.Title"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="Question.Status" />
                    سخت
                </label>
            </div>
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />

        </div>

    </form>
</div>

