@page "{id}"
@model ShahrKoodak.Web.Pages.Admin.Question.DeleteAnswerModel
@{
}
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Answer.AnswerId" />
        آیا از حذف پاسخ @Model.Answer.Title مطمئن هستید؟
        <form method="post" enctype="multipart/form-data">
            <input type="submit" value="بله" class="btn btn-success" />
        </form>
        <a href="/Admin/Question" class="btn btn-danger btn-sm">
            خیر
        </a>
    </form>
</div>
