
<!DOCTYPE html>
<html>

<partial name="Head.cshtml" />


<body class="hidden-bar-wrapper">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        @*<partial name="Header.cshtml" />*@

        @await Component.InvokeAsync("HeadersComponent")
        @RenderBody()
        @await Component.InvokeAsync("FootersComponent")
        @*<partial name="Footer.cshtml" />*@
    </div>
    <!--End pagewrapper-->
    <!-- Color Palate / Color Switcher -->

    @*<div class="color-palate">
        <div class="color-trigger">
            <i class="fa fa-gear"></i>
        </div>
        <div class="color-palate-head">
            <h6>انتخاب رنگ دلخواه</h6>
        </div>

        <div class="various-color clearfix display : disabled">
            <div class="colors-list">
                <span class="palate default-color" data-theme-file="css/color-themes/default-theme.css"></span>
                <span  class="palate green-color active" data-theme-file="css/color-themes/green-theme.css"></span>
                <span  class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
                <span  class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
                <span  class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
                <span  class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
                <span  class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
                <span  class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>
            </div>
        </div>


        <a href="#" class="purchase-btn">خرید فقط با 89 هزار تومان</a>

        <div class="palate-foo">
            <span>در پنل مدیریت گزینه های بیشتری برای رنگ و یک ظاهر طراحی خواهید یافت. این انتخابگر رنگ فقط برای اهداف نمایشی استفاده می شود.</span>
        </div>

    </div>*@

    <!-- Search Popup -->
    <div class="search-popup">
        <button class="close-search style-two"><span class="flaticon-multiply"></span></button>
        <button class="close-search"><span class="flaticon-up-arrow-1"></span></button>
        <form method="post" action="https://expert-themes.com/html/globex/blog.html">
            <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="اینجا جستجو کنید" required="">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- End Header Search -->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/tilt.jquery.min.js"></script>
    <script src="~/js/jquery.paroller.min.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/nav-tool.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/color-settings.js"></script>

</body>

</html>



