@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-9">
    <div class="dashboard-title   fl-wrap">
        <h3>رزرو</h3>
    </div>
    <!-- profile-edit-container-->
    <div class="profile-edit-container fl-wrap block_box">
        <!-- booking-list-->
        <div class="booking-list">
            <div class="booking-list-message">
                <div class="booking-list-contr">
                    <a href="#" class="green-bg tolt" data-microtip-position="left" data-tooltip="Approve"><i class="fal fa-check"></i></a>
                    <a href="#" class="color-bg tolt" data-microtip-position="left" data-tooltip="Cancel"><i class="fal fa-trash"></i></a>
                </div>
                <div class="booking-list-message-avatar">
                    <img src="images/avatar/3.jpg" alt="">
                </div>
                <span class="booking-list-new green-bg">جدید</span>
                <div class="booking-list-message-text">
                    <h4>مسعود جعفری - <span>27 اسفند 1399</span></h4>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تبلیغ :</span> :
                        <span class="booking-text"><a href="listing-sinle.html">هتل پریمیوم پلازا</a></span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">نفرات :</span>
                        <span class="booking-text">4 نفر</span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تاریخ رزرو :</span>
                        <span class="booking-text">02.03.1399  - 10.03.1399</span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">ایمیل :</span>
                        <span class="booking-text"><a href="#" target="_top">yormail@domain.com</a></span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تلفن :</span>
                        <span class="booking-text"><a href="tel:0211234567" target="_top">0211234567</a></span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">روش پرداخت :</span>
                        <span class="booking-text"> <strong class="done-paid">پرداخت شده </strong>  پرداخت اینترنتی</span>
                    </div>
                    <span class="fw-separator"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است. </p>
                </div>
            </div>
        </div>
        <!-- dashboard-list end-->
    </div>
    <!-- profile-edit-container end-->
    <!-- profile-edit-container-->
    <div class="profile-edit-container fl-wrap block_box">
        <!-- booking-list-->
        <div class="booking-list">
            <div class="booking-list-message">
                <div class="booking-list-contr">
                    <a href="#" class="green-bg tolt" data-microtip-position="left" data-tooltip="Approve"><i class="fal fa-check"></i></a>
                    <a href="#" class="color-bg tolt" data-microtip-position="left" data-tooltip="Cancel"><i class="fal fa-trash"></i></a>
                </div>
                <div class="booking-list-message-avatar">
                    <img src="images/avatar/2.jpg" alt="">
                </div>
                <div class="booking-list-message-text">
                    <h4>سعید شمس - <span>17 اسفند 1399</span></h4>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تبلیغ :</span> :
                        <span class="booking-text"><a href="listing-sinle.html">رستوران مجلل</a></span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">نفرات :</span>
                        <span class="booking-text">2 نفر</span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تاریخ رزرو :</span>
                        <span class="booking-text"> 10.03.1399</span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">ایمیل :</span>
                        <span class="booking-text"><a href="#" target="_top">yormail@domain.com</a></span>
                    </div>
                    <div class="booking-details fl-wrap">
                        <span class="booking-title">تلفن :</span>
                        <span class="booking-text"><a href="tel:0211234567" target="_top">0211234567</a></span>
                    </div>
                    <span class="fw-separator"></span>
                    <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است. </p>
                </div>
            </div>
        </div>
        <!-- dashboard-list end-->
    </div>
    <!-- profile-edit-container end-->
    <div class="pagination">
        <a href="#" class="prevposts-link"><i class="fas fa-caret-right"></i><span>قبلی</span></a>
        <a href="#">1</a>
        <a href="#" class="current-page">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">7</a>
        <a href="#" class="nextposts-link"><span>بعدی</span><i class="fas fa-caret-left"></i></a>
    </div>
</div>