@using ShahrKoodak.Core.common
@model ShahrKoodak.Web.Models.IssueViewModel

    <div class="col-md-9">
        <div class="dashboard-title   fl-wrap">
            <h3>واریز</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            @using (Html.BeginForm("Deposit", "Home", FormMethod.Post))
            {
                <div class="custom-form">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label asp-for="Type">Type</label>
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<Constants.PaymentType>()" class="chosen-select"></select>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="Type">Mode</label>
                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<Constants.PaymentMode>()" class="chosen-select"></select>
                        </div>
                        <div class="col-12 form-group">
                            <label asp-for="PayableCoins">Payable Coins</label>
                            <input asp-for="PayableCoins" class="form-control">
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="BaseCurrencyId">Base Currency</label>
                            <select asp-for="BaseCurrencyId" asp-items="@ViewBag.BaseCurrencies" class="chosen-select"></select>
                        </div>
                        <div class="col-6 form-group">
                            <label asp-for="BaseAmount">Base Amount</label>
                            <input asp-for="BaseAmount" class="form-control">
                        </div>
                        <div class="col-4 form-group mb-3">
                            <label asp-for="Language">Language</label>
                            <select asp-for="Language" asp-items="@ViewBag.Languages" class="chosen-select"></select>
                        </div>
                        <label class="col-4 form-check-label">
                            <input class="form-check-input" asp-for="AllowReject" />
                            @Html.DisplayNameFor(model => model.AllowReject)
                        </label>
                        <label class="col-4 form-check-label">
                            <input class="form-check-input" asp-for="AllowTestNets" />
                            @Html.DisplayNameFor(model => model.AllowTestNets)
                        </label>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-block btn-primary" style="color: black">Create Payment</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- profile-edit-container end-->
    </div>
