@model ShahrKoodak.DataLayer.Entities.Wallet.Exchange

@if (@ViewBag.flag != null)
{
    <div dir="rtl" class="alert alert-success">
        <p class="help-block">درخواست شما با موفقیت ثبت شد.</p>
    </div>

}
<form asp-action="Exchange">
    <div class="col-md-9">
        <div class="dashboard-title   fl-wrap">
            <h3>درخواست تبدیل</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                @*<div class="pass-input-wrap fl-wrap">
            <label>رمز عبور فعلی</label>
            <input type="password" class="pass-input" placeholder="" value="" />
            <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
        </div>*@
               
                <div class="add-list-media-header" style="margin-bottom:20px">
                    <label class="checkbox inline">
                        <input type="radio" name="arz" id="one" value="one" onclick="if(this.checked){myFunction()}" />
                        <span>تبدیل usdt (امتیاز سایت) به ارزهای دیجیتال در سایت</span>
                    </label>
                </div>
                <div class="add-list-media-header" style="margin-bottom:20px">
                    <label class="checkbox inline">
                        <input type="radio" name="arz" id="two" value="two" onclick="if(this.checked){myFunction2()}" />
                        <span>تبدیل ارزهای دیجیتال در سایت به usdt (امتیاز سایت)</span>
                    </label>
                </div>
                <div id="fromm" class="form-group">
                    <label>از</label>
                    <select class="nice-select" asp-for="ToCurrencyId" asp-items="@(ViewData["To"] as SelectList)"></select>
                    <span asp-validation-for="ToCurrencyId"></span>
                </div>
                <div id="fromtext" class="form-group">
                    <label>از</label>
                    <input type="text" value="usdt" class="pass-input" disabled placeholder="" />
                </div>
                <div id="too" class="form-group">
                    <label>به</label>
                    <select class="nice-select" asp-for="ToCurrencyId" asp-items="@(ViewData["To"] as SelectList)"></select>
                    <span asp-validation-for="ToCurrencyId"></span>
                </div>
                <div id="totext" class="form-group">
                    <label>به</label>
                    <input type="text" value="usdt" class="pass-input" disabled placeholder="" />
                </div>
                <div class="pass-input-wrap fl-wrap">
                    <label>مبلغ</label>
                    <input type="text" class="pass-input" placeholder="" asp-for="Amount" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                <button class="btn    color2-bg  float-btn">ثبت دستور<i class="fal fa-save"></i></button>
            </div>
        </div>
        <!-- profile-edit-container end-->
    </div>
</form>

@section Scripts
{
    <script>
        function myFunction() {
            document.getElementById("fromtext").style.display = "block";
            document.getElementById("too").style.display = "block";
            document.getElementById("fromm").style.display = "none";
            document.getElementById("totext").style.display = "none";
        }

        function myFunction2() {
            document.getElementById("fromtext").style.display = "none";
            document.getElementById("too").style.display = "none";
            document.getElementById("fromm").style.display = "block";
            document.getElementById("totext").style.display = "block";
        }

        document.getElementById("fromm").style.display = "none";
        document.getElementById("too").style.display = "none";
        document.getElementById("fromtext").style.display = "none";
        document.getElementById("totext").style.display = "none";
    </script>
}
