@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-9">
    <div class="row">
        <div class="col-md-8">
            <div class="dashboard-title   fl-wrap">
                <h3>اطلاعیه</h3>
            </div>
            <!-- dashboard-list-box-->
            <div class="dashboard-list-box mar-dash-list fl-wrap">
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <img src="images/all/1.jpg" alt="">
                            <p><a href="#">هستی حبیبی</a> یک تبلیغ جدید اضافه کرد. <a href="#">دیدن جزئیات</a>   </p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <i class="far fa-heart purp-bg"></i>
                            <p><a href="#">محمود احمدی</a> تبلیغ <a href="#">فروشگاه زنجیره ای</a> علامت گذاری کرد!</p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <i class="fal fa-comments-alt red-bg"></i>
                            <p> <a href="#"> محبوبه سیاری</a> یک نظر در <a href="#">تبلیغ گردشگری</a> گذاشت!</p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <i class="far fa-check green-bg"></i>
                            <p> تبلیغ <a href="#">فروشگاه صنایع دستی</a> شما تأیید شده است! </p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <img src="images/all/16.jpg" alt="">
                            <p><a href="#"> هستی حبیبی</a> یک تبلیغ جدید اضافه کرد. <a href="#">دیدن جزئیات</a></p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
                <!-- dashboard-list end-->
                <div class="dashboard-list fl-wrap">
                    <div class="dashboard-message">
                        <span class="new-dashboard-item"><i class="fal fa-times"></i></span>
                        <div class="dashboard-message-text">
                            <i class="fal fa-comments-alt red-bg"></i>
                            <p> <a href="#"> نسترن همتی</a> یک نظر در <a href="#">تبلیغ گردشگری</a> گذاشت!</p>
                        </div>
                        <div class="dashboard-message-time"><i class="fal fa-calendar-week"></i> 28 اسفند 1399</div>
                    </div>
                </div>
                <!-- dashboard-list end-->
            </div>
            <!-- dashboard-list-box end-->
            <div class="pagination">
                <a href="#" class="prevposts-link"><i class="fas fa-caret-right"></i><span>قبلی</span></a>
                <a href="#">1</a>
                <a href="#" class="current-page">2</a>
                <a href="#">3</a>
                <a href="#">...</a>
                <a href="#">7</a>
                <a href="#" class="nextposts-link"><span>بعدی</span><i class="fas fa-caret-left"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" fl-wrap   tabs-act block_box dashboard-tabs">
                <div class="filter-sidebar-header fl-wrap" id="filters-column">
                    <ul class="tabs-menu fl-wrap no-list-style">
                        <li class="current"><a href="#follow-you"> <i class="fal fa-rss"></i> دنبال شوندگان <span>5</span></a></li>
                        <li><a href="#follow-me"> <i class="fal fa-users"></i>دنبال کنندگان <span>4</span></a></li>
                    </ul>
                </div>
                <div class="scrl-content filter-sidebar    fs-viscon">
                    <!--tabs -->
                    <div class="tabs-container fl-wrap">
                        <!--tab -->
                        <div class="tab">
                            <div id="follow-you" class="tab-content  first-tab ">
                                <div class="follow-user-list fl-wrap">
                                    <ul class="no-list-style">
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/1.jpg" alt="">
                                                <span>هستی حبیبی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/2.jpg" alt="">
                                                <span>محمود احمدی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/3.jpg" alt="">
                                                <span>محمد سعیدی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/5.jpg" alt="">
                                                <span> محبوبه سیاری</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/6.jpg" alt="">
                                                <span>بهمن یوسفی</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--tab end-->
                        <!--tab -->
                        <div class="tab">
                            <div id="follow-me" class="tab-content">
                                <div class="follow-user-list fl-wrap">
                                    <ul class="no-list-style">
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/7.jpg" alt="">
                                                <span>محبوبه سیاری</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/4.jpg" alt="">
                                                <span>آلیسا نوری</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/2.jpg" alt="">
                                                <span>محمود احمدی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-single.html">
                                                <img src="images/avatar/1.jpg" alt="">
                                                <span>هستی حبیبی</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--tab end-->
                    </div>
                    <!--tabs end-->
                </div>
            </div>
            <!--box-widget-item -->
            <div class="box-widget-item fl-wrap" style="margin-top:20px;">
                <div class="banner-wdget fl-wrap">
                    <div class="overlay op4"></div>
                    <div class="bg" data-bg="images/bg/19.jpg"></div>
                    <div class="banner-wdget-content fl-wrap">
                        <h4>در برنامه وفاداری ما شرکت کنید. به یک دوست مراجعه کنید و تخفیف بگیریدt.</h4>
                        <a href="#" class="color-bg">بیشتر</a>
                    </div>
                </div>
            </div>
            <!--box-widget-item end -->
        </div>
    </div>
</div>