@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-9">
    <!-- dashboard-list-box-->
    <div class="dashboard-list-box fl-wrap">
        <div class="dashboard-header color-bg fl-wrap">
            <h3>گفتگو</h3>
        </div>
        <div class="chat-wrapper fl-wrap">
            <div class="row">
                <!-- chat-box-->
                <div class="col-sm-8">
                    <div class="chat-box fl-wrap">
                        <!-- message-->
                        <div class="chat-message chat-message_guest fl-wrap">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/1.jpg" alt="">
                                <span class="chat-message-user-name cmun_sm">هستی</span>
                            </div>
                            <span class="massage-date">28 اسفند 1399  <span>17.51</span></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</p>
                        </div>
                        <!-- message end-->
                        <!-- message-->
                        <div class="chat-message chat-message_user fl-wrap">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/4.jpg" alt="">
                                <span class="chat-message-user-name cmun_sm">آلیسا</span>
                            </div>
                            <span class="massage-date">28 اسفند 1399  <span>17.51</span></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</p>
                        </div>
                        <!-- message end-->
                        <!-- message-->
                        <div class="chat-message chat-message_guest fl-wrap">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/1.jpg" alt="">
                                <span class="chat-message-user-name cmun_sm">هستی</span>
                            </div>
                            <span class="massage-date">28 اسفند 1399  <span>17.51</span></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است..</p>
                        </div>
                        <!-- message end-->
                        <!-- message-->
                        <div class="chat-message chat-message_user fl-wrap">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/4.jpg" alt="">
                                <span class="chat-message-user-name cmun_sm">آلیسا</span>
                            </div>
                            <span class="massage-date">28 اسفند 1399  <span>17.51</span></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد .</p>
                        </div>
                        <!-- message end-->
                    </div>
                    <div class="chat-widget_input fl-wrap">
                        <textarea placeholder="پیام"></textarea>
                        <button type="submit"><i class="fal fa-paper-plane"></i></button>
                    </div>
                </div>
                <!-- chat-box end-->
                <!-- chat-contacts-->
                <div class="col-sm-4">
                    <div class="chat-contacts fl-wrap">
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/2.jpg" alt="">
                                <div class="message-counter">2</div>
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>بهمن یوسفی</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/avatar-bg.png" alt="">
                                <div class="message-counter">1</div>
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>هستی جعفری</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item chat-contacts-item_active" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/1.jpg" alt="">
                                <div class="message-counter">3</div>
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4> آلیسا نوری</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/5.jpg" alt="">
                                <div class="message-counter">4</div>
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>محبوبه سیاری</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/avatar-bg.png" alt="">
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>محبوبه سیاری</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/3.jpg" alt="">
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>محمد سعیدی</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                        <!-- chat-contacts-item-->
                        <a class="chat-contacts-item" href="#">
                            <div class="dashboard-message-avatar">
                                <img src="images/avatar/avatar-bg.png" alt="">
                            </div>
                            <div class="chat-contacts-item-text">
                                <h4>بهمن یوسفی</h4>
                                <span>27 اسفند 1399 </span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                            </div>
                        </a>
                        <!-- chat-contacts-item -->
                    </div>
                </div>
                <!-- chat-contacts end-->
            </div>
        </div>
        <!-- dashboard-list-box end-->
    </div>
</div>