@model ShahrKoodak.Core.DTOs.User.InformationAdViewModel
@{
    ViewData["dash"] = "افزودن تبلیغ";
    ViewData["Title"] = "افزودن تبلیغ";
}
<form asp-action="Add">
    <div class="col-md-9">
        <div class="dashboard-title   fl-wrap">
            <h3>افزایش امتیاز</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="">
                <h1>دعوت دوستان </h1>
                <label>جهت دعوت از دوستان کد زیر را به دوستان خود بدهید.</label>

                <h3>@ViewBag.userId</h3>

                <h1>شرکت در بازی</h1>
                <p>شما عزیزان می توانید با شرکت در بازی در 2 دسته سخت و آسان اقدام به کسب امتیاز نمایید.</p><br />
                <div align="center">
                    <a href="/Question" target="_blank" class="add-list2 color-bg">شرکت در بازی آسان</a>
                    <a href="/Question" target="_blank" class="add-list2 color-bg">شرکت در بازی سخت</a>
                </div>
            </div>
        </div>

    </div>
</form>
@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&libraries=places&callback=initAutocomplete"></script>
    <script src="/js/map-add.js"></script>
    <script src="/js/map-listing.js"></script>

    <script>
        $("#GroupId").change(function () {

            $("#tt").remove();
            var div = document.createElement("div");
            div.className = "listsearch-input-item";
            div.id = "tt";
            $("#dd").append(div);
            var s = document.createElement("select");
            s.id = "SubGroup";
            s.name = "SubGroup";
            $("#tt").append(s);


            $.getJSON("/home/GetSubGroups/" + $("#GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                    $("#SubGroup").niceSelect();
                });
            //$(document).ready(function() {
            //    $('select').niceSelect();
            //});

        });

    </script>

}
