@model ShahrKoodak.Core.DTOs.User.UsersViewModel.ChangePassword

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Password">
    <div class="col-md-9">
        <div class="dashboard-title   fl-wrap">
            <h3>تغییر رمز عبور</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                @*<div class="pass-input-wrap fl-wrap">
                        <label>رمز عبور فعلی</label>
                        <input type="password" class="pass-input" placeholder="" value="" />
                        <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                    </div>*@
                <div class="pass-input-wrap fl-wrap">
                    <label>رمز عبور جدید</label>
                    <input type="password" class="pass-input" placeholder="" asp-for="Password" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                <div class="pass-input-wrap fl-wrap">
                    <label>تکرار رمز عبور جدید</label>
                    <input type="password" class="pass-input" placeholder="" asp-for="RePassword" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                <button class="btn    color2-bg  float-btn">ذخیره تغییرات<i class="fal fa-save"></i></button>
            </div>
        </div>
        <!-- profile-edit-container end-->
    </div>
</form>