@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-9">
    <div class="dashboard-title   fl-wrap">
        <h3>نظرات </h3>
    </div>
    <!-- profile-edit-container-->
    <div class="profile-edit-container fl-wrap block_box">
        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
            <div class="review-comments-avatar">
                <img src="images/avatar/4.jpg" alt="">
            </div>
            <div class="reviews-comments-item-text fl-wrap">
                <div class="reviews-comments-header fl-wrap">
                    <h4><a href="#">هستی جعفری</a></h4>
                    <div class="review-score-user">
                        <span class="review-score-user_item">4.2</span>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                    </div>
                </div>
                <p>" لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "</p>
                <div class="reviews-comments-item-footer fl-wrap">
                    <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 اسفند 1399</span></div>
                    <a href="#" class="rate-review"><i class="fal fa-reply"></i>  پاسخ </a>
                </div>
            </div>
        </div>
        <!--reviews-comments-item end-->
        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
            <div class="review-comments-avatar">
                <img src="images/avatar/6.jpg" alt="">
            </div>
            <div class="reviews-comments-item-text fl-wrap">
                <div class="reviews-comments-header fl-wrap">
                    <h4><a href="#">هستی جعفری</a></h4>
                    <div class="review-score-user">
                        <span class="review-score-user_item">5.0</span>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                    </div>
                </div>
                <p>" لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است. "</p>
                <div class="review-images ">
                    <a href="images/all/13.jpg" class="image-popup"><img src="images/all/13.jpg" alt=""></a>
                    <a href="images/all/35.jpg" class="image-popup"><img src="images/all/35.jpg" alt=""></a>
                </div>
                <div class="reviews-comments-item-footer fl-wrap">
                    <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 اسفند 1399</span></div>
                    <a href="#" class="rate-review"><i class="fal fa-reply"></i>  پاسخ </a>
                </div>
            </div>
        </div>
        <!--reviews-comments-item end-->
        <!-- reviews-comments-item -->
        <div class="reviews-comments-item">
            <div class="review-comments-avatar">
                <img src="images/avatar/5.jpg" alt="">
            </div>
            <div class="reviews-comments-item-text fl-wrap">
                <div class="reviews-comments-header fl-wrap">
                    <h4><a href="#">نسترن همتی </a></h4>
                    <div class="review-score-user">
                        <span class="review-score-user_item">4.8</span>
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                    </div>
                </div>
                <p>" لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "</p>
                <div class="reviews-comments-item-footer fl-wrap">
                    <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 اسفند 1399</span></div>
                    <a href="#" class="rate-review"><i class="fal fa-reply"></i>  پاسخ </a>
                </div>
            </div>
        </div>
        <!--reviews-comments-item end-->
    </div>
    <!-- profile-edit-container end-->
    <div class="pagination">
        <a href="#" class="prevposts-link"><i class="fas fa-caret-right"></i><span>قبلی</span></a>
        <a href="#">1</a>
        <a href="#" class="current-page">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">7</a>
        <a href="#" class="nextposts-link"><span>بعدی</span><i class="fas fa-caret-left"></i></a>
    </div>
</div>