@using ShahrKoodak.Core.Convertors
@using ShahrKoodak.Core.Services.Interfaces
@model ShahrKoodak.DataLayer.Entities.Product.product

@{
    string imageName;
    if (Model.ProductImageName != null)
    {
        imageName = "/Product/image/" + Model.ProductImageName;
    }
    else
    {
        imageName = "/unnamed.png";
    }
}

<div class="dashboard-list fl-wrap">
    <div class="dashboard-message">
        <div class="booking-list-contr">
            <a href="/UserPanel/EditAdd/@Model.ProductId" class="color-bg tolt" data-microtip-position="left" data-tooltip="ویرایش"><i class="fal fa-edit"></i></a>
            <a href="/UserPanel/DeleteAdd/@Model.ProductId" class="red-bg tolt" data-microtip-position="left" data-tooltip="حذف"><i class="fal fa-trash"></i></a>
        </div>
        <div class="dashboard-message-text">
            <img src="@imageName" alt="">
            <h4><a href="/UserPanel/EditAdd/@Model.ProductId">@Model.ProductTitle</a></h4>
            <div class="geodir-category-location clearfix"><a href="#"> </a></div>
        </div>
    </div>
</div>