<footer class="main-footer fl-wrap">
    
    <!-- footer-header end-->
    <!--footer-inner-->
   
    <!--footer-inner end -->
    <!--sub-footer-->
    <div class="sub-footer  fl-wrap">
        <div class="container">
           
            <div class="footer-widget-posts fl-wrap">
                <div class="footer-social">
                    <ul class="no-list-style">
                        <li><a href="https://www.instagram.com/babit.ir" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://t.me/babit_ir" target="_blank"><i class="fab fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
          
        </div>
    </div>
    
    <!--sub-footer end -->
</footer>

