@page
@model PortalsBuilder.Web.Pages.Admin.Bank.IndexModel
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                بانک ها
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">بانک ها</a></li>
                    <li class="breadcrumb-item active" aria-current="page">بانک ها</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="/Admin/Bank/CreateBank" class="btn btn-outline-success">جدید</a>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>عنوان</th>
                                        <th>عنوان انگلیسی</th>
                                        <th>لوگو</th>
                                        
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListBank)
                                    {
                                        <tr>
                                            <td>@item.BankId</td>
                                            <td>@item.Title</td>
                                            <td>@item.EnTitle</td>
                                            <td>
                                                <img src="/article/thumb/@item.Logo"/>
                                            </td>

                                            <td>
                                                <a href="/Admin/Bank/EditBank/@item.BankId" class="btn btn-outline-primary">ویرایش</a>
                                                <button class="btn btn-outline-danger">حذف</button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>