@model ShahrKoodak.Core.DTOs.User.UsersViewModel.ReferalViewModel
@{
    ViewData["Title"] = "عضویت در بابیت";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />





<div class="container">

    <!--tab -->
    <div class="tab">
        <div class="custom-form">
            <form method="post" asp-action="Referal" class="main-register-form" id="main-register-form2">
                <h3 style="color: aliceblue">در صورت داشتن کد ریفرال وارد بفرمایید.</h3>
                <label style="color: aliceblue">کد ریفرال <span>*</span></label>
                <input asp-for="UserId" type="text" onClick="this.select()">
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div class="clearfix"></div>

                <div class="clearfix"></div>
                <button type="submit" class="btn float-btn color2-bg"> ثبت   <i class="fas fa-caret-left"></i></button>
                <a class="btn float-btn" href="/UserPanel">کد ریفرال ندارم</a>
            </form>
        </div>
    </div>
    <!--tab end -->
    <!--tabs end -->

    <div class="wave-bg">
        <div class='wave -one'></div>
        <div class='wave -two'></div>
    </div>
</div>
