@model ShahrKoodak.Core.DTOs.RegisterViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ورود به بابیت";
    <script src='https://www.google.com/recaptcha/api.js'></script>
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




@if (User.Identity.IsAuthenticated)
{
    <script>
        var delay = 1;
        setTimeout(function () { window.location = "/UserPanel"; }, delay);
    </script>
}


<div class="container">

        <!--tab -->
        <div class="tab">
                <div class="custom-form">
                    <form method="post" asp-action="Register" class="main-register-form" id="main-register-form2">

                        <label style="color: aliceblue">شماره همراه <span>*</span></label>
                        <input asp-for="Email" type="text" onClick="this.select()">
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="g-recaptcha" data-sitekey="@(Configuration.GetValue<String>("GoogleReCaptcha:ClientKey"))"></div>
                        <br/>
                        <div class="clearfix"></div>
                        <div class="filter-tags ft-list">
                            <input id="check-a" type="checkbox" name="check">
                            <label for="check-a">شرایط را <a href="#">قبول دارم</a></label>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn float-btn color2-bg"> ثبت نام  <i class="fas fa-caret-left"></i></button>
                    </form>
            </div>
        </div>
        <!--tab end -->
    <!--tabs end -->
    <div class="log-separator fl-wrap"><span>یا</span></div>
    <div class="soc-log fl-wrap">
        <p style="color: aliceblue">برای ورود سریع یا ثبت نام از حساب اجتماعی خود استفاده کنید.</p>
        <a href="/provider/Google" class="facebook-log"> گوگل</a>
    </div>
    <div class="wave-bg">
        <div class='wave -one'></div>
        <div class='wave -two'></div>
    </div>
</div>
