@model PortalBuilder.Core.DTOs.Staff.ActiveViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "عضویت در هامون";
}


<div align="center" class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="" align="center">
            <!--login area start-->
            <div class="">
                <div class="styled-form login-form">
                    <h2>ثبت نام</h2>
                    <form asp-action="Active" method="post">
                        @if (@ViewBag.IsSuccess == true)
                        {
                            <div dir="rtl" class="alert alert-success">
                                <p class="help-block">حساب شما با موفقیت فعال شد.</p>
                            </div>


                            <script>
                                var delay = 2000;
                                setTimeout(function () { window.location = "/SetPassword"; }, delay);
                            </script>
                        }
                        <p>
                            <label>کد فعالسازی <span>*</span></label>
                            <input asp-for="code" type="number">

                        </p>
                        <div asp-validation-summary="All" class="text-danger">

                        </div>
                        <div class="login_submit">
                            <button type="submit">ثبت نام</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->

        </div>
    </div>
</div>