@page
@model PortalsBuilder.Web.Pages.Admin.Brand.CreateBrandModel
@{
}
<div class="main-panel">
    <form method="post" enctype="multipart/form-data">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    ایجاد برند
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">فرم ها</a></li>
                        <li class="breadcrumb-item active" aria-current="page">عناصر ساده فرم</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">برند جدید</h4>

                            <div class="form-group">
                                <label for="exampleInputUsername1">عنوان</label>
                                <input type="text" class="form-control" asp-for="Brand.Title" placeholder="عنوان را وارد کنید">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">توضیحات</label>
                                <input type="text" class="form-control" asp-for="Brand.Description" placeholder="توضیحات را وارد کنید">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">لوگوی بانک</label>
                                <input type="file" class="form-control" name="imgCourseUp" id="imgCourseUp" asp-for="Brand.Photo">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">لینک</label>
                                <input type="text" class="form-control" asp-for="Brand.Link" placeholder="لینک را وارد کنید">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">زمان فعالسازی</label>
                                <input type="text" class="form-control" asp-for="Brand.HappenedAt" placeholder="زمان فعالسازی را وارد کنید">
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleInputUsername2">فعال</label>
                                    <input type="checkbox" asp-for="Brand.IsActive" class="form-control" id="exampleInputUsername2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername3">زبان دوم</label>
                                    <input type="checkbox" asp-for="Brand.IsSecondLanguage" class="form-control" id="exampleInputUsername3">
                                </div>
                                
                            </div>


                            <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                            <button class="btn btn-light">لغو</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>