@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "قوانین خرید با چک";
}

<section class=" mt-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <figure>

                    <figcaption class="">
                        <h2>کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی REY20به دقت ملاحظه فرمایید.</h2>
                        <h3>قوانین خرید با چک</h3>

                        <p>﻿﻿﻿﻿مشترییان گرامی می توانند با چک صیاد پس از استعلام با اقساط 12 ماهه و با کارمزد 3 درصد خریداری نمایند .</p>
                        <h4>توجه</h4>
                        <p>1-برای بار اول اعتبار چکی به اشخاص به میزان نصف پیش بوده و حداکثر به مبلغ یک میلیون و پانصدتومان چک گرفته می شود .</p>
                        <p>لطفا جهت استعلام چک به قسمت ارسال مشخصات چک مراجعه نمایید .</p>
                        <p>مهلت استعلام یک هفته ای میباشد .</p>
                        <br />
                        <p>2-قیمت عرف=مانده بدهی*5%+تعداداقساط*کارمزد</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>