@using ShahrKoodak.Core.DTOs.Product
@using ShahrKoodak.Core.DTOs.Store
@model IEnumerable<ShahrKoodak.Core.DTOs.Product.ShowProductListItemViewModel>
@{
    ViewData["Title"] = "درج رایگان آگهی";
}


<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        @*<section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="/images/bg/37.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <img src="/images/logo.png" alt="">
                    <span class="section-separator"></span>
                </div>
            </div>
            <div class="header-sec-link">
                <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>
            </div>
        </section>*@
        <!--  section  end-->
        <section class="gray-bg small-padding no-top-padding-sec" id="sec1">
            <div class="container">
                @*<div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
                    <a href="#">خانه</a><a href="#">تبلیغات</a><a href="#">تهران</a><span>تبلیغ تکی</span>
                </div>*@
                <div class="fl-wrap">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <!-- list-main-wrap-header-->
                            <div class="list-main-wrap-header fl-wrap block_box no-vis-shadow">
                                <!-- list-main-wrap-title-->
                                
                                <!-- list-main-wrap-title end-->
                                <!-- list-main-wrap-opt-->
                                <div class="list-main-wrap-opt">
                                    <!-- price-opt-->
                                    
                                    <!-- price-opt end-->
                                    <!-- price-opt-->
                                    <div class="grid-opt">
                                        <ul class="no-list-style">
                                            <li class="grid-opt_act"><span class="two-col-grid act-grid-opt tolt" data-microtip-position="bottom" data-tooltip="نمایش شبکه ای"><i class="fal fa-th"></i></span></li>
                                            <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom" data-tooltip="نمایش لیستی"><i class="fal fa-list"></i></span></li>
                                        </ul>
                                    </div>
                                    <!-- price-opt end-->
                                </div>
                                <!-- list-main-wrap-opt end-->
                            </div>
                            <!-- list-main-wrap-header end-->
                            <!-- listing-item-container -->
                            <div class="listing-item-container init-grid-items fl-wrap nocolumn-lic">
                                <!-- listing-item  -->
                                @foreach (var item in Model)
                                {

                                    <partial name="_BoxProduct" model="@item" />

                                }
                                <!-- listing-item end -->
                                <!-- listing-item  -->
                               
                                <!-- listing-item end -->
                              
                            </div>
                            <!-- listing-item-container end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>
