@{
    ViewData["Title"] = "نمایندگان فروش تندیس کالا";
}




<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">

        <div class="row">
            <div class="col-12">
                <div class="page dt-sl dt-sn pt-3 pb-5">
                    <div class="section-title title-wide mb-1 no-after-title-wide">
                        <h2 class="font-weight-bold">لیست نمایندگی ها</h2>
                    </div>
                    <p>
                        @await Component.InvokeAsync("AgentComponent")
                    </p>


                </div>
            </div>
        </div>

    </div>
</main>