<div dir="rtl" class="alert alert-success">
    <p class="help-block">اطلاعات فروشگاه با موفقیت ثبت شد.</p>
</div>
<script>
    var delay = 3000;
    setTimeout(function() { window.location = "/UserPanel"; }, delay);
</script>