@model List<PortalBuilder.Models.FAQ>
@{ 

    var list = Model;
    var div1 = list.Count / 2;
    int counter = 0;
}
        <!--Page Title-->
<section class="page-title">
    <div class="pattern-layer-one" style="background-image: url(images/background/pattern-16.png)"></div>
    <div class="auto-container">
        <h2>نقل و قل ها</h2>
        <ul class="page-breadcrumb">
            <li><a href="index.html">صفحه اصلی </a></li>
            <li>سوالات متداول</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Faq's Page Section -->
<section class="faq-page-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">سوالات متداول </div>
            <h2>بیشتر بخوانید <br> سوالات متداول سایت </h2>
        </div>

        <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <ul class="accordion-box">

                

                    @foreach (var item in list)
                    {

                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">@item.Question<div class="icon fa fa-angle-right"></div></div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">
                                            @item.Answer
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        counter += 1;
                        if (counter == div1)
                        {
                            break;
                        }
                    }


            </div>

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">

                <ul class="accordion-box">
                    <!--Block-->
                    @{
                        list = null;
                        list = Model.Skip(counter).ToList();

                     }
                    @foreach (var item in list)
                    {

                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">@item.Question<div class="icon fa fa-angle-right"></div></div>
                                  <div class="acc-content">
                                      <div class="content">
                                          <div class="text">
                                              @item.Answer
                                          </div>
                                      </div>
                                  </div>
                            </li>
                        </ul>


                       
                    }

                </ul>

            </div>

        </div>
    </div>
</section>
<!-- End Faq's Page Section -->
<!-- Faq Form Section -->
<section class="faq-form-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">در تماس باشید </div>
            <h2>تعدادی سوال </h2>
        </div>

        <!-- Faq Form -->
        <div class="faq-form">

            <!--Contact Form-->
            <form method="post" action="https://expert-themes.com/html/globex/contact.html">
                <div class="row clearfix">

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="name" placeholder="نام" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="email" placeholder="ایمیل" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="phone" placeholder="تلفن" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <input type="text" name="subject" placeholder="موضوع" required>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <textarea name="message" placeholder="جزئیات سوال"></textarea>
                    </div>

                    <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
                        <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">اکنون ارسال کنید </span></button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</section>
<!-- End Faq Form Section -->
<!-- Info Section -->
<section class="info-section" style="background-image: url(images/background/6.jpg)">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Logo Column -->
            <div class="logo-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner-column">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo-2.png" alt="" /></a>
                    </div>
                </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner-column">
                    <div class="icon-box"><span class="flaticon-pin"></span></div>
                    <ul>
                        <li><strong>آدرس </strong></li>
                        <li>ایران، ارومیه، شاهین دژ</li>
                    </ul>
                </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner-column">
                    <div class="icon-box"><span class="flaticon-phone-call"></span></div>
                    <ul>
                        <li><strong>تلفن </strong></li>
                        <li>+ 786 875 864 75</li>
                    </ul>
                </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner-column">
                    <div class="icon-box"><span class="flaticon-email-1"></span></div>
                    <ul>
                        <li><strong>ایمیل </strong></li>
                        <li>support@globex.com</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Info Section -->
