


<form action="/product">
    <div class="header-search-input-wrap fl-wrap">
        <!-- header-search-input -->
        <div class="header-search-input">
            <label><i class="fal fa-keyboard"></i></label>
            <input type="text" name="filter" placeholder="دنبال چی میگردی؟" />
        </div>
        <!-- header-search-input end -->
        <!-- header-search-input -->
        <div class="header-search-input location autocomplete-container">
            <select class="chosen-select" id="SelectedGroups" name="SelectedGroups" asp-items="@(ViewData["group"] as SelectList)"></select>
        </div>
        <!-- header-search-input end -->
        <!-- header-search-input -->
       
        <!-- header-search-input end -->
        <button class="header-search-button green-bg" onclick="window.location.href = 'listing.html'"><i class="far fa-search"></i> جستجو </button>
    </div>
</form>



    <script>
        $("#GroupId").change(function () {

            $("#tt").remove();
            var div = document.createElement("div");
            div.className = "listsearch-input-item";
            div.id = "tt";
            $("#dd").append(div);
            var s = document.createElement("select");
            s.id = "SubGroup";
            s.name = "SubGroup";
            $("#tt").append(s);


            $.getJSON("/home/GetSubGroups/" + $("#GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                    $("#SubGroup").niceSelect();
                });
            //$(document).ready(function() {
            //    $('select').niceSelect();
            //});

        });

    </script>

