@using Microsoft.CodeAnalysis.CSharp
@using Microsoft.EntityFrameworkCore.Scaffolding.Internal
@model IEnumerable<ShahrKoodak.DataLayer.Entities.Slider.Slider>



@foreach (var group in Model)
{

    <div class="single_slider d-flex align-items-center" data-bgimg="/product/image/@group.SliderImageName">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="slider_content">
                        <h1>@group.Text1</h1>
                        <h2>@group.Text2</h2>
                        <p>@group.Text3</p>
                        <a class="button" href="@group.LinkAddress">اکنون بخرید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}