@page "{id}"
@model ShahrKoodak.Web.Pages.Admin.Product.ActiveModel
@{
}
<div class="row">
    <form method="post">
        <h1>وضعیت نمایش آگهی</h1>
        <input type="hidden" asp-for="Product.ProductId"/>
        @Model.Product.ProductTitle
        <form method="post" enctype="multipart/form-data">
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="Product.IsActive" name="e" />
                    نمایش
                </label>
            </div>
            <input type="submit" value="تایید" class="btn btn-success"/>
        </form>
       
    </form>
</div>