@page
@model PortalsBuilder.Web.Pages.Admin.Banner.CreateBannerModel
@{
}
<div class="main-panel">
    <form method="post">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    ایجاد مقاله
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">فرم ها</a></li>
                        <li class="breadcrumb-item active" aria-current="page">عناصر ساده فرم</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">مقاله جدید</h4>

                            <div class="form-group">
                                <label for="exampleInputUsername1">عنوان</label>
                                <input type="text" class="form-control" asp-for="Banner.Title" placeholder="عنوان را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">توضیحات اضافه</label>
                                <input type="text" class="form-control" asp-for="Banner.Description" placeholder="توضیحات اضافه را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">تصویر</label>
                                <input type="file" class="form-control" asp-for="Banner.Photo">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">لینک</label>
                                <input type="text" class="form-control" asp-for="Banner.Link" placeholder="لینک را وارد کنید">
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <label for="exampleInputUsername2">فعال</label>
                                    <input type="checkbox" class="form-control" asp-for="Banner.IsActive" id="exampleInputUsername2">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername3">عریض</label>
                                    <input type="checkbox" class="form-control" asp-for="Banner.IsWide" id="exampleInputUsername3">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername4">زبان انگلیسی</label>
                                    <input type="checkbox" class="form-control" asp-for="Banner.IsSecondLanguage" id="exampleInputUsername4">
                                </div>
                                
                            </div>

                           
                          
                            <div class="form-group">
                                <label for="exampleInputUsername1">تعداد بازدید</label>
                                <input type="number" class="form-control" asp-for="Banner.ClickCount" placeholder="تعداد بازدید را وارد کنید">
                            </div>



                            <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                            <a href="/Admin/Banner" class="btn btn-light">لغو</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>
